doctype 5
html
  head
    title Ezblogin &#8211; Tienda Online
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js')
    script(src='https://checkout.stripe.com/checkout.js')
    
    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    block content
