@import "vendor/bootstrap/bootstrap";

header {
  .navbar;
  .logo {
    .navbar-brand;
  }

  .site-navigation {
    .nav;
    .navbar-nav;
    .pull-right;
  }
}

.content {
  .make-row();
}

.products-list {
  .nav;
  .nav-pills;
  .nav-stacked;
  .make-md-column(2);
}

.product {
  .make-md-column(10);
}

.product-description {
  .make-md-column(9);
}

.product-purchase {
  .make-md-column(3);
  .panel;
  .panel-primary;
  border-top-width: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

div.login {
  margin-bottom: 20px;
}
form.login {
  input {
    .form-control;
  }
  button[type=submit] {
    .btn;
    .btn-default;
  }
}

.price.inactive {
  text-decoration: line-through;
}

button {
  &.save {
    &, &:hover, &:active, &:focus {
      color: @brand-success;
    }
  }
  &.cancel {
    &, &:hover, &:active, &:focus {
      color: @brand-danger;
    }
  }
}

.hover-button {
  visibility: hidden;

  .btn;
  .btn-default;

  padding: 2px 6px;
  margin-right: 2px;
  margin-left: -12px;
}

a:hover .hover-button {
  visibility: visible;
}
